/* ==== general information ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1920px;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(41, 59, 57, 0.7);
}

/* ==== navigation ==== */
nav {
  z-index: 3;
  width: 100%;
  padding: 20px 0 20px 3%;
  font-size: 1em;
  background-color: rgba(41, 59, 57, 0.7);
}

a {
  color: white;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  margin-left: 0;
  padding-right: 50px;
}

.nav-link:hover {
  font-weight: bold;
}

.logo {
  width: 15%;
  padding: 0 50px 0 0;
}

/* ==== CANVAS ==== */
canvas {
  margin: 45px 0 0 29%;
}
